@model IEnumerable<ProjectForHealing.Models.Admin>

@{
    ViewData["Title"] = "Remove Admin";
}

<div class="container m-0 m-auto">

    <h1>Remove Admin</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Phone #
                </th>

                <th>
                    Admin
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuperUser)
                </td>

                <td>

                    @Html.ActionLink("Delete", "RemoveAdmin", new { UserName = item.UserName })

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>