
@{
    ViewData["Title"] = "Remove";
}





<div class="text-center">
    <h1 class="display-4">Remove Resources</h1>
</div>




@if (ViewBag.resources.Count == 0)
{
    <p>No recent submissions! </p>
}



<table class="table">

    <div class="text-center">
        <h2 class="">Resources Awaiting Approval</h2>
    </div>
    <thead>
        <tr>
            <th scope="col">Remove?</th>
            <th scope="col">Organization</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address/Zip</th>
            <th scope="col">STE</th>
            <th scope="col">Description</th>
            <th scope="col">Website</th>
            <th scope="col">Representative</th>
            <th scope="col">Rep Contact info</th>



        </tr>
    </thead>
    <tbody>


        <form method="post">

            @foreach (var resource in ViewBag.resources)
            {
                <tr>
                    <td> <input type="checkbox" name="resourceIDs" id="@resource.ResourceID" value="@resource.ResourceID" /></td>
                    <td>@resource.OrgName</td>
                    <td>@resource.OrgEmail</td>
                    <td>@resource.OrgNumber</td>
                    <td>@resource.OrgAddress  @resource.OrgZip </td>
                    <td>@resource.OrgSte</td>
                    <td>@resource.OrgDescription</td>
                    <td>@resource.WebsiteUrl</td>
                    <td>@resource.Fname   @resource.Lname</td>
                    <td>@resource.RepNumber   @resource.RepEmail</td>
                </tr>
            }
            <input type="submit" value="Remove Selected Resource(s)"/>
        </form>
      

    </tbody>
</table>