@model List<ProjectForHealing.Models.Resource>
@{

}

<div class="text-center">
    <h1 class="display-4">Resource Management</h1>
</div>




@if (Model.Count == 0)
{
        <p>No recent submissions! </p>
}



<table class="table">

    <div class="text-center">
        <h2 class="">Resources Awaiting Approval</h2>
    </div>
    <thead>
        <tr>

            <th scope="col">Organization</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address/Zip</th>
            <th scope="col">STE</th>
            <th scope="col">Description</th>
           <th scope="col">Website</th>
            <th scope="col">Representative</th>
            <th scope="col">Rep Contact info</th>
           


        </tr>
    </thead>
    <tbody>
        @foreach (var resource in Model)
        {
            <tr>
               
                <td>@resource.OrgName</td>
                <td>@resource.OrgEmail</td>
                <td>@resource.OrgNumber</td>
                <td>@resource.OrgAddress  @resource.OrgZip </td>
                <td>@resource.OrgSte</td>
                <td>@resource.OrgDescription</td>
                <td>@resource.WebsiteUrl</td>
                <td>@resource.Fname   @resource.Lname</td>
                <td>@resource.RepNumber   @resource.RepEmail</td>
                <td></td>
                <td></td>
            </tr>
        }

    </tbody>
</table>
