@*@model IEnumerable<ProjectForHealing.Models.Resource>*@

@model ProjectForHealing.ViewModels.ManageViewModel

@{

}

<div class="container-fluid m-0 m-auto">
    @if (Model.resources.Count() == 0)
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">No  submissions!</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">No  submissions!</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">No  submissions!</div>
        </div>
    }
    else
    {
        <style>

            table {
                table-layout: inherit;
            }

                table th, table td {
                    padding: 0;
                    width: 150px;
                    overflow: hidden;
                }

                table th {
                    position: sticky;
                    top: 0;
                    background: #fff;
                    border-bottom: none;
                }

            .table thead th {
                border-bottom: none;
            }

            table th::after {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #ccc;
            }

            .smal {
                width: 100px;
            }
        </style>


        <div class="container m-0 m-auto">
            <h2>Resource Managment</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Approved Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Unnapproved Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Additional Resources</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-hover">


                        <thead class="bg-white">
                            <tr>

                                <th scope="col">Organization</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Address/Zip</th>
                                <th scope="col" class="smal">Suite</th>
                                <th scope="col">Category</th>
                                <th scope="col">Website</th>
                                <th scope="col" class="smal">Edit</th>
                                <th scope="col" class="smal">Remove</th>


                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var resource in Model.resources)

                            {
                                if (resource.IsApproved == true)
                                {
                            <tr class="table-light">
                                <td>@Html.ActionLink(resource.OrgName, "ViewSource", "Home", new { id = resource.ResourceID })</td>
                                <td>@resource.OrgEmail</td>
                                <td>@resource.OrgNumber</td>
                                <td>@resource.OrgAddress  @resource.OrgZip </td>
                                @if (resource.OrgSte != null)
                                {
                                    <td>@resource.OrgSte</td>
                                }
                                else
                                {
                                    <td> </td>
                                }

                                <td>@resource.RType1 @resource.RType2 @resource.RType3</td>
                                <td>@resource.WebsiteUrl</td>
                                <td class="smal">@Html.ActionLink("Edit", "Edit", "Admin", new { id = resource.ResourceID })</td>
                                <td class="smal"><button class="btn btn-primary" data-target="#deleteModal" data-href="Remove/@resource.ResourceID" data-toggle="modal">Delete</button></td>
                            </tr>
                                }

                            }

                        </tbody>

                    </table>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-hover">


                        <thead class="bg-white">
                            <tr>
                                <th scope="col">Organization</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Address/Zip</th>
                                <th scope="col" class="smal">Suite</th>
                                <th scope="col">Category</th>
                                <th scope="col">Website</th>
                                <th scope="col" class="smal">Approve</th>
                                <th scope="col" class="smal">Edit</th>
                                <th scope="col" class="smal">Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var resource in Model.resources)
                            {
                                if (resource.IsApproved == false)
                                {
                            <tr class="table-light">
                                <td>@Html.ActionLink(resource.OrgName, "ViewSource", "Home", new { id = resource.ResourceID })</td>
                                <td>@resource.OrgEmail</td>
                                <td>@resource.OrgNumber</td>
                                <td>@resource.OrgAddress  @resource.OrgZip </td>
                                @if (resource.OrgSte != null)
                                {
                                    <td>@resource.OrgSte</td>
                                }
                                else
                                {
                                    <td> </td>
                                }
                                <td>@resource.RType1 @resource.RType2 @resource.RType3</td>

                                <td>@resource.WebsiteUrl</td>
                                <td class="smal">@Html.ActionLink("Approve", "Approve", "Admin", new { id = resource.ResourceID })</td>

                                <td class="smal">@Html.ActionLink("Edit", "Edit", "Admin", new { id = resource.ResourceID })</td>
                                <td class="smal"><button class="btn btn-primary" data-target="#deleteModal" data-href="Remove/@resource.ResourceID" data-toggle="modal">Delete</button></td>
                            </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table-hover">


                        <thead class="bg-white">
                            <tr>

                                <th scope="col">Organization</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">File Path</th>

                                <th scope="col" class="smal">Edit</th>
                                <th scope="col" class="smal">Remove</th>


                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var resource in Model.unassocResources)
                            {
                                <tr class="table-light">
                                    <td>@Html.ActionLink(resource.Name, "ViewSource", "Home", new { id = resource.ID })</td>
                                    <td>@resource.Description</td>
                                    <td>@resource.FilePath</td>


                                    <td class="smal">@Html.ActionLink("Edit", "Edit", "Admin", new { id = resource.ID })</td>
                                    <td class="smal"><button class="btn btn-primary" data-target="#deleteModal" data-href="Remove/@resource.ID" data-toggle="modal">Delete</button></td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div class="container m-0 m-auto">


</div>
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Resources</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to save changes made to this resource?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this resource?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-ok">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>


            </div>
        </div>
    </div>
</div>
@section Scripts    {
    <script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

            $('.btn-ok').on('click', () => {
                alert("Resource Deleted");
                window.location.href = $(this).find('.btn-ok').attr('href');

            });
        });

    </script>
}