@model IEnumerable<ProjectForHealing.Models.Resource>
@{

}
    <div class="container ml-0">
        @if (Model.Count() == 0)
        {
            <p>No recent submissions! </p>
        }
        else
        {

            <div class="text-left ml-0">
                <h2 class="">Resources Awaiting Approval</h2>
            </div>
            <table class="table table-hover left">

                <thead>
                    <tr>

                        <th scope="col">Organization</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address/Zip</th>
                        <th scope="col">STE</th>
                        <th scope="col" colspan="3">Description</th>
                        <th scope="col">Website</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Unapprove</th>


                    </tr>
                </thead>

                <tbody>

                    @foreach (var resource in Model)
                    {
                        <tr class="table-light">
                            <td>@Html.ActionLink(resource.OrgName, "ViewSource","Home", new { id = resource.ResourceID })</td>
                            <td>@resource.OrgEmail</td>
                            <td>@resource.OrgNumber</td>
                            <td>@resource.OrgAddress  @resource.OrgZip </td>
                            <td>@resource.OrgSte</td>
                            <td colspan="3">@resource.OrgDescription</td>
                            <td>@resource.WebsiteUrl</td>

                            <td>@Html.ActionLink("Approve", "Approve","Admin", new { id = resource.ResourceID })</td>
                            <td>@Html.ActionLink("Delete", "Remove","Admin", new { id = resource.ResourceID })</td>
                        </tr>
                    }

                </tbody>

            </table>
        
        }
        </div>
        




