@model IEnumerable<ProjectForHealing.Models.Resource>
@{

}
    <div class="container m-0 m-auto">
        @if (Model.Count() == 0)
        {
            <p>No recent submissions! </p>
        }
        else
        {
            <style>
                table {
                    table-layout: inherit;
                }

                    table th, table td {
                        padding: 0;
                        width: 150px;
                        overflow: hidden;
                    }

                    table th {
                        position: sticky;
                        top: 0;
                        background: #fff;
                    }
                    .table thead th{border-bottom:none;}
                        table th::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: #ccc;
                        }

                .smal {
                    width: 100px;
                }
            </style>

            <div class="container m-0 m-auto">
                <h2 class="">Resources Awaiting Approval</h2>
            </div>
            <table class="table table-hover">

                <thead>
                    <tr>

                        <th scope="col">Organization</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address/Zip</th>

                        <th scope="col" class="smal">STE</th>

                        <th scope="col">Website</th>

                        <th scope="col" class="smal">Approve</th>
                        <th scope="col" class="smal">Remove</th>


                    </tr>
                </thead>

                <tbody>

                    @foreach (var resource in Model)
                    {
                    <tr class="table-light">
                        <td>@Html.ActionLink(resource.OrgName, "ViewSource", "Home", new { id = resource.ResourceID })</td>
                        <td>@resource.OrgEmail</td>
                        <td>@resource.OrgNumber</td>
                        <td>@resource.OrgAddress  @resource.OrgZip </td>
                        @if (resource.OrgSte != null)
                        {
                            <td>@resource.OrgSte</td>
                        }
                        else
                        {
                            <td> </td>
                        }

                        <td>@resource.WebsiteUrl</td>

                        <td class="smal">@Html.ActionLink("Approve", "Approve", "Admin", new { id = resource.ResourceID })</td>
                        <td class="smal">@Html.ActionLink("Delete", "Remove", "Admin", new { id = resource.ResourceID })</td>
                    </tr>
                    }

                </tbody>

            </table>

        }
    </div>
        




