@model IEnumerable<ProjectForHealing.Models.UnassocResource>

@{
    ViewData["Title"] = "EducationList";
}


    <div class="container">
        <h1>Additional Resources</h1>

        <p>
            <a asp-action="Create">Delete</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FilePath)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FilePath)
                        </td>
                        <td>

                            @Html.ActionLink("Delete", "DelUnassocResource", "Admin", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
