@model ProjectForHealing.Models.Resource


@{
    ViewData["Title"] = "Resource Form";
}
 
<div class="text-center">
    <h1 class="display-4">Resource Form</h1>
    <p>
        If you would like to join Project For Healing as a resource for immagrants and refugees, please complete the application below
        and someone will get back with you as soon as possible.
    </p>
</div>

@{Html.BeginForm("ResourceForm", "Home", FormMethod.Post); }
 
@Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(i => i.Fname, "First Name")
        @Html.TextBoxFor(i => i.Fname, new { placeholder = "First Name", @class = "form-control" })
    
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Lname, "Last Name")
        @Html.TextBoxFor(i => i.Lname, new { placeholder = "Last Name", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.RepEmail, "Email Address")
        @Html.TextBoxFor(i => i.RepEmail, new { placeholder = "Email", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.RepNumber, "Phone Number")
        @Html.TextBoxFor(i => i.RepNumber, new { placeholder = "Phone Number", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.OrgName, "Organization")
        @Html.TextBoxFor(i => i.OrgName, new { placeholder = "Organization", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.WebsiteUrl, "Link")
        @Html.TextBoxFor(i => i.WebsiteUrl, new { placeholder = "Link to Your Organization's Website", @class = "form-control" })
    </div>
    <label>Type of Work Your Organization Provide</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="MentalHealth">
            Mental Health
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="SocialWork">
            Social Work
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="FinancialAssistance">

        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.OrgDescription, "Services Provided")
        @Html.TextAreaFor(i => i.OrgDescription, new { placeholder = "What services/resources can you provide to immigrants in need? Any extra services you can proved?", @class = "form-control" })
        
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
@{Html.EndForm();}
