@model ProjectForHealing.Models.Resource
@{

}


<div class="container middlebody">
    <div class="jumbotron">
        <h1 class="display-3">@Model.OrgName</h1>
        <p class="lead">@Model.OrgDescription</p>
        <hr class="my-4">
        <p class="lead">@Model.OrgEmail</p>
        <p class="lead">
            <a href="//@Model.WebsiteUrl" target="_blank" style="color:#229dc1;">@Model.WebsiteUrl</a>
           
        </p>
        @if (Model.PhotoPath != null)
        {
            @Html.ActionLink("View Files", "OpenFile", new { path = "ResourceFiles/" + Model.PhotoPath },new { @class = "btn btn-prim btn-lg" })

         
        }
    </div>
</div>