@model ProjectForHealing.Models.Resource
@{

}


<div class="container middlebody">
    <div class="jumbotron">
        <h1 class="display-3">@Model.OrgName</h1>
        <p class="lead">@Model.OrgDescription</p>
        <hr class="my-4">
        <p>@Model.OrgEmail</p>
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="@Model.WebsiteUrl" role="button">Learn more</a>
        </p>
        @if (Model.PhotoPath != null)
        {
            @Html.ActionLink("View Files", "OpenFile", new { path = "ResourceFiles/" + Model.PhotoPath })
        }
    </div>
</div>