@model ProjectForHealing.Models.Resource
@{

}


<div class="container middlebody">
    <div class="jumbotron">
        <h1 class="display-3">@Model.OrgName</h1>
        <p class="lead">@Model.OrgDescription</p>
        <hr class="my-4">
        <p class="lead">@Model.OrgEmail</p>
        <p class="lead">
            <a href="//@Model.WebsiteUrl" target="_blank" style="color:#229dc1;">@Model.WebsiteUrl</a>

        </p>
        @if (Model.PhotoPath != null)
        {
            @Html.ActionLink("View Files", "OpenFile", new { path = "ResourceFiles/" + Model.PhotoPath }, new { @target = "_blank" })


        }
        @if (Model.Tag1 != null)
        {

            <h1>Do you serve refugees within the first 5 years of resettlement?</h1>

            @if (Model.Tag1 == true)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }


            <h1>Do you serve LGBTQ+ populations?</h1>
            @if (Model.Tag2 == true)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
            <h1>Do you serve people with disabilities?</h1>
            @if (Model.Tag3 == true)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
            <h1>Do you serve undocumented immigrants?</h1>
            @if (Model.Tag4 == true)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
            <h1>Do you provide service in languages other than English?</h1>
            @if (Model.Tag5 == true)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        }
    </div>
</div>